
.title {
    font-size: 100px;
    text-align: center;
    animation: colorRotate 10s linear infinite;
}
h1 {
  font-size: 100px;
  text-align: center;
}
p {
  font-size: 20px;
  font-weight: 200px;
  text-align: center;
  color: white;
}
body {
    margin:0;
    font-family: cursive;
    background-image: url('Space.png');
    background-size: cover;
    animation: space 40s linear infinite;
    background-position: initial;
}
@keyframes space {
  from {background-position:initial;}
  to {background-position: 100vw 0}
}
nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 50px;
    justify-content: center;
    background-color:black
}
.navFlex {
  height: 100%;
  width: 100%;
  display: flex;
}
.navTable {
  height: 100%;
  width: 100%;
  display: table;
}
.link {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    height: 50px;
    width: 300px;
    text-align: center;
    background-color: yellow;
    text-decoration: none;
    color: rgb(153, 151, 41);
    transition: transform 0.5s ease;
}
.link:hover {
  animation: hoverBg 0.5s;
  background-color: rgb(228, 228, 0);
  transform: translateY(10px);
}
.link:not(:hover) {
  animation: notHoverBg 0.5s;
  background-color: yellow;
}
@keyframes hoverBg {
  from { background-color: yellow;}
  to { background-color: rgb(228, 228, 0);}
}
@keyframes notHoverBg {
  from { background-color: rgb(228, 228, 0);}
  to { background-color: yellow;}
}
  @keyframes colorRotate {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #00ff00;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
  }
  .imageCheeseHolder {
    display: flex;
    justify-content: center;
  }
.noteHolder {
  display: flex;
  align-items: center;
  justify-content: center;
}
.note {
  width: 1300px;
}