
.rainbowTitle {
    font-size: 200px;
    text-align: center;
    animation: colorRotate 10s linear infinite;
}
.title {
  font-size: 100px;
  text-align: center;
  color: white;
}
h1 {
  font-size: 100px;
  text-align: center;
}
p {
  font-size: 20px;
  font-weight: 200px;
  text-align: center;
  color: white;
}
body {
    margin:0;
    font-family: cursive;
}
@keyframes space {
  from {background-position:initial;}
  to {background-position: 100vw 0}
}
nav {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 50px;
    justify-content: center;
    background-color:black;
    position: fixed
    
}
.navFlex {
  height: 100%;
  width: 100%;
  display: flex;
}
.navTable {
  height: 100%;
  width: 100%;
  display: table;
}
.link {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    height: 50px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 167, 214);
    transition: transform 0.5s ease;
}
.link:hover {
  animation: hoverBg 0.5s;
  background-color: rgb(0, 57, 67);
  transform: translateY(10px);
}
.link:not(:hover) {
  animation: notHoverBg 0.5s;
  background-color: rgb(0, 88, 103);
}
@keyframes hoverBg {
  from { 
    background-color: rgb(0, 88, 103);
  }
  to { 
    background-color: rgb(0, 57, 67);
  }
}
@keyframes cancelOnTwitterHoverBg {
  from { 
    background-color: rgb(0, 57, 67);
  }
  to { 
    background-color: rgb(0, 88, 103);
  }
}
  @keyframes colorRotate {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #00ff00;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
  }
  .spaceHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100vh;
    background-image: url('Space.png');
    background-size: cover;
    animation: space 40s linear infinite;
    background-position: initial;
  }
  .holder1 {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100vh;
    background-image: url('morespace.jpg');
    background-size: cover;
  }
  body::-webkit-scrollbar {
    display: none;
  }