html {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    right: 0px;
}
body {
    margin: 0px;
}
header {
    background-color: rgb(252, 255, 74);
    text-align: center;
}
header > h1 {
    margin: 0;
    font-size: 100px;
}
main {
    margin-left: 20px;
}
main>div>h2 {
    text-align: center;
    background-color: rgb(202, 199, 0);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 20px;
}
main>div {
    display: flex;
    justify-content: center;
    width: 100vw;
}
main>ul>li {
    margin-top: 15px;
    font-size: 20px;
}
